
.ipynb_checkpoints/Homework1_Jacco-checkpoint.ipynb
.ipynb_checkpoints/homework1-checkpoint.ipynb
.ipynb_checkpoints/Homework1_Florian-checkpoint.ipynb
Homework 1/.ipynb_checkpoints/homework1-checkpoint.ipynb
Homework 1/.ipynb_checkpoints/Homework1_Florian-checkpoint.ipynb
Homework 1/.ipynb_checkpoints/Homework1_Jacco-checkpoint.ipynb
Homework 2/.ipynb_checkpoints/FlorianHomework2-checkpoint.ipynb
Homework 2/.ipynb_checkpoints/homework2-checkpoint.ipynb
Homework 2/.ipynb_checkpoints/JaccoHomework2-checkpoint.ipynb
Homework 3/.ipynb_checkpoints/Jacco-checkpoint.ipynb
Homework 3/.ipynb_checkpoints/homework3-checkpoint.ipynb
Homework 3/.ipynb_checkpoints/Flo-checkpoint.ipynb
Homework 4/.ipynb_checkpoints/Jacco-checkpoint.ipynb
Homework 4/.ipynb_checkpoints/Flo-checkpoint.ipynb
Homework 4/.ipynb_checkpoints/homework4-checkpoint.ipynb
Homework 5/.ipynb_checkpoints/Flo-checkpoint.ipynb
Homework 5/.ipynb_checkpoints/homework5-checkpoint.ipynb
Homework 5/.ipynb_checkpoints/Jacco-checkpoint.ipynb
