
.ipynb_checkpoints/Homework1_Jacco-checkpoint.ipynb
.ipynb_checkpoints/homework1-checkpoint.ipynb
.ipynb_checkpoints/Homework1_Florian-checkpoint.ipynb
Homework 1/.ipynb_checkpoints/homework1-checkpoint.ipynb
Homework 1/.ipynb_checkpoints/Homework1_Florian-checkpoint.ipynb
Homework 1/.ipynb_checkpoints/Homework1_Jacco-checkpoint.ipynb
